@charset "utf-8";
/* CSS Document */

*{
	margin: 0 auto;
	list-style: none;
	font-family: "맑은 고딕";
	padding-top:0px;
}
body,html{
	width: 800px;
	height: auto;
}	

img{
	max-width: 100%
		width:auto;
	height:auto;
	
}
.clear{clear:both;position:inherit;}

#imgslide{
	height: auto;
}
.imgs{
	display:block;
	max-width: 750px;
	height: auto;
}
.imgs>img{
	width: 750px;
	position: absolute;
}

#slides {
	width: 750px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}
#slides li {
	display: none;
}
#slides li:first-child {
	display: block;
}
#slides li img {
	width: 750px;
	height: auto;
}



.btn_slides_next{
	position:fixed;
	top:45%;
	left:90%;
}



.btn_slides_prev{
	position:fixed;
	top:45%;
	left:0%;
}
